* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(4, 4, 22);
    /* display: flex; */
    place-items: center;
    min-height: 100vh;
  }
  header nav.navbar ul {
    display: flex;
    justify-content: space-around;
    width: inherit;
    list-style-type: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: #c7141400;
    padding: 1rem;
    box-shadow: 1px 1px 5px #e0e0e0;
  }
  main {
    display: grid;
    margin: auto;
    width: 40%;
    padding: 30px;
    margin-top: 50px;
    grid-template-areas:
      "a a b"
      "a a b"
      "c d d"
      "c e e";
    grid-template-columns: 1.4fr 0.6fr 1fr;
    grid-template-rows: 1fr 1fr 0.8fr 1.2fr;
    grid-auto-rows: minmax(250px, auto);
    gap: 12px;
  }

  
  main div {
    padding: 30px 0;
  }
  
  .brown {
    background-color: rgb(196, 29, 29);
    grid-area: a;
  }
  
  .yellow {
    background-color: rgb(238, 234, 27);
    grid-area: b;

  }
  
  .green {
    background-color: green;
    grid-area: c;
  }
  
  .f-blue {
    background-color: rgb(0, 102, 255);
    grid-area: d;
  }
  
  .s-blue {
    background-color: rgb(0, 102, 255);
    grid-area: e;
  }
  